/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1440px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

main {
	max-width: 1140px;
	display: flex;
	flex-direction: column;
	margin: 0px 150px;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3 {
	font-size: 26px;
}

/* ********** */
/* Navigation */
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

nav a {
	text-decoration: none;
}

#nav-login {
	font-weight: 600;
}

.header-section {
	max-width: 1140px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 40px 150px;
}

.edition-mode {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 59px;
	width: 100%;
}

/* ********** */
/* Introduction */
#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* ********** */
/* Gallery */

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 50px;
}

.btn {
	background-color: transparent;
	color: #1D6154;
	border-color: #1D6154;
	border-radius: 60px;
	border-width: 1px;
	min-width: 100px;
	padding: 5px 10px;
	font-family: "syne";
	font-size: 16px;
}

.btn:focus {
	background-color: #1D6154;
	color: white;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.project {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.project i {
	margin-right: 15px;
}

.project a {
	margin-bottom: 30px;
}


/* ********** */
/* Contact */
#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

footer {
	height: 60px;
	width: 100%;
	display: flex;
	/* Utilisation de Flexbox */
	justify-content: end;
	/* Alignement horizontal au centre */
	align-items: center;
	background-color: white;
}

/* ********** */
/* Log In */
#login {
	width: 50%;
	margin: auto;
	margin-bottom: 120px;
}

#login>* {
	text-align: center;

}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login a {
	text-decoration: underline;
}

#id-error {
	color: red;
	font-weight: 700;
	text-align: center;
	margin-top: 20px;
}

/* ********** */
/* Modal */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-wrapper {
	overflow: auto;
	background-color: #FFFF;
	border-radius: 10px;
	width: 630px;
	padding: 20px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

hr {
	width: 420px;
	height: 1px;
	margin: 35px 0px;
	background-color: #B3B3B3;
}

#btn-add {
	color: white;
	background-color: #1D6154;
	border-color: #1D6154;
	border-radius: 60px;
	padding: 10px 10px;
	font-size: 14px;
	font-weight: 700;
	width: 237px;
	height: 36px;
	border-style: none;
}

.js-modal-close,
.js-modal-back {
	background-color: transparent;
	border: none;
	align-self: flex-end;
}

.modal-nav {
	display: flex;
	align-self: stretch;
	gap: 580px;
}

#gallery-modal {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 40px 90px;
}

#gallery-modal figure {
	position: relative;
	display: inline-block;
	margin: 15px 0px;
}

#gallery-modal img {
	width: 77px;
	height: 103px;
	display: block;
}

#gallery-modal button {
	position: absolute;
	top: 5px;
	/* Adjust as needed */
	right: 5px;
	/* Adjust as needed */
	/*font-size: 2rem; /* Adjust as needed */
	color: white;
	/* Change color as needed */
	background: black;
	/* Optional: Add a background to the icon for better visibility */
	padding: 5px;
	/* Optional: Add padding for better appearance */
	border-radius: 10%;
	/* Optional: Make the icon background circular */
}

.div-add-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: #E8F1F6;
	height: 170px;
	width: 420px;
	margin: 30px 0px;
}

.div-add-photo i {
	color: #CBD6DC;
	font-size: 76px;
}

.div-add-photo span {
	color: #306685;
	border-radius: 50px;
	background-color: #CBD6DC;
	border-style: none;
	font-size: 14px;
	width: 173px;
	padding: 10px;
}

.div-add-photo p {
	font-size: 10px;
}

.div-add-photo input[type=file]{
	display: none;
}

#add-photo-modal form {
	display: flex;
	flex-direction: column;
}

#title-photo {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin: 5px 0px;
}

select {
	height: 50px;
	font-size: 1.2em;
	font-family: inherit;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin: 5px 0px;
}

#add-photo-modal label {
	margin: 5px 0px;
}

#btn-ok  {
	color: white;
	background-color: #B3B3B3;
	font-size: 14px;
	font-weight: 700;
	width: 237px;
	height: 36px;
	border-style: none;
	margin-top: 0px;
}

#btn-ok-valide  {
	color: white;
	background-color: #1D6154;
	font-size: 14px;
	font-weight: 700;
	width: 237px;
	height: 36px;
	border-style: none;
	margin-top: 0px;
}

#preview-photo {
	display: block;
	height: 169px ;
}

#add-photo-error-message {
	color: red;
	font-weight: 700;
	display: flex;
	justify-content: center;
}